RACK_ENV=development

TG_TOKEN=
PUBLIC_CHANNEL_ID=
BOT_USERNAME=
ADMIN_IDS=

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=velo_utro_bot_development

PORT=4567
TIMEZONE=Europe/Moscow
STATIC_EVENTS=🎲 Настолки,🎉 Туса,❄️ Зимние активности,🎬 Кино,Другое

DAILY_ANNOUNCEMENT_ENABLED=false
DAILY_ANNOUNCEMENT_TIME=18:30
MONTHLY_STATS_DAY=1

WEATHER_ENABLED=false
WEATHER_API_KEY=
DEFAULT_WEATHER_COORDINATES=52.9651,36.0785
DEFAULT_WEATHER_CITY_NAME=Орёл
WEATHER_ADMIN_ALERTS=false
WEATHER_DEBUG=false

WEBHOOK_DOMAIN=
