# Игнорировать файлы с переменными окружения
.env
.env.*

# Игнорировать временные файлы
*.swp
*.swo
*~
.DS_Store

# Игнорировать логи
log/*
*.log

# Игнорировать временные файлы Ruby
.bundle
vendor/bundle
.byebug_history

# Игнорировать файлы базы данных
*.sqlite3
*.sqlite3-journal

# Игнорировать файлы, созданные IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать файлы, созданные Docker
.docker-sync/

# Игнорировать файл с описанием проекта для нейросетей
PROJECT_DESCRIPTION.md